.bg-img {
    background-image: url(gambar1.png);
    background-size: cover;
    text-align: center;
    height: 600px;
    position: relative;
}

.scroll {
    overflow-x: scroll;
}

.width-18r {
    width: 21rem;
}

.mt-150 {
    margin-top: 150px;
}

.bd-rounded {
    border-radius: 10px;
}

.bolds {
    font-weight: 700;
}

.bg-position-center {
    background-position: center;
}

.bg-blue {
    background-color: blue;
}